
.nx-typography-subheading-reversed {

    h2:has(+ blockquote) {
        font: var(--font-p);

    }

    h2 + blockquote > p {
        font: var(--font-h2);
        color: var(--t-primary) !important;
    }

    h1:has(+ blockquote) {
        font: var(--font-p);
    }

    h1 + blockquote > p {
       font: var(--font-h1);
    }

}
